<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CrowdFundingViva1Entities" connectionString="metadata=res://*/CrowdFunding.csdl|res://*/CrowdFunding.ssdl|res://*/CrowdFunding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=CrowdFundingViva1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/backup_CrowdFundingViva1.csdl|res://*/backup_CrowdFundingViva1.ssdl|res://*/backup_CrowdFundingViva1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crowdfundingviva1.database.windows.net;Initial Catalog=backup_CrowdFundingViva1;Persist Security Info=False;User ID=vivauser1;Password=p@ssw0rd1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="backup_CrowdFundingViva1Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crowdfundingviva1.database.windows.net;initial catalog=backup_CrowdFundingViva1;persist security info=True;user id=vivauser1;password=p@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CrowdFundingVivaTeam1Entities" connectionString="metadata=res://*/CrowdFundingViva1Model.csdl|res://*/CrowdFundingViva1Model.ssdl|res://*/CrowdFundingViva1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crowdfundingviva.database.windows.net;initial catalog=CrowdFundingVivaTeam1;persist security info=True;user id=ginalx;password=32203220Ab!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>