<div id="headerwrap">
    <div class="container">
        <h2>Dashboard</h2>
    </div>
</div>
<div id="main-content" style="margin:0; padding:0;">
    <div class="container" ng-cloak>
        <md-content class="transparent">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="My Projects">
                    <md-content class="md-padding transparent" layout="row" layout-align="center" layout-wrap>
                        <div ng-repeat="row in Projects" class="test">
                            <md-card style="width: 350px; height:500px; background-color:#f9fafc;" class="transform-nopointer">
                                <div id="progressCircle{{row.Id}}" style="height:197px">
                                    <md-progress-circular class="md-hue-2" md-diameter="70" style="margin:0 auto; top:50px"></md-progress-circular>
                                </div>
                                <img data-ng-src="data:image/jpeg;base64,{{row.MainPhoto}}" alt="" class="md-card-image" ng-click="goToState(row.Id)" style="outline:none!important" />
                                <md-card-content>
                                    <div style="height:250px">
                                        <p><span class="md-headline">{{row.Title}}</span></p>
                                        <p>
                                            <md-button class="md-icon-button" aria-label="Share" ng-click="editProject(row.Id)" style="outline:none!important">
                                                <md-icon md-font-icon="fa fa-pencil-square-o" style="color:gray" />
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="Settings" style="outline:none!important">
                                                <md-icon md-font-icon="fa fa-share" style="color:gray" />
                                            </md-button>
                                        </p>
                                        <p>{{row.ShortDescription}}</p>
                                    </div>
                                    <p><md-progress-linear md-mode="determinate" value="{{row.progress}}"></md-progress-linear></p>
                                    <span style="font-weight:bold;  margin-right:3px">{{row.progress}}% </span> funded <div style="float:right"><span style="font-weight:bold; margin-left:15px; margin-right:3px">&euro;{{row.Gathered}} </span> gathered</div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="My Funds">
                    <md-content class="md-padding transparent">
                        <div ng-repeat="row in Payments">
                            <md-card class="transform">
                                <md-card-content style="padding:30px 40px 20px 40px;">
                                    <!-- style="padding:30px 40px 20px 40px;"-->
                                    <p>
                                        <md-icon md-font-icon="fa fa-euro fa-2x" style="color:#4980ff;" /><span style="font-size:25px; position:relative;  top:3px; color:#4980ff">{{row.Amount}}</span>
                                    </p>
                                    <p style="margin-top:45px">
                                        <h2>{{row.ProjectFK}}</h2>
                                    </p>
                                    </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="My profile">
                    <div layout="column" layout-padding ng-cloak>
                        <md-content class="md-no-momentum md-padding transparent">
                            <div>
                                <div class="text-center" layout-align="column">
                                    <img src="Content/Images/post02.jpg" class="avatar img-circle img-thumbnail img-responsive" alt="avatar" id="Photo" style="height: 100px;">
                                    <aps-upload-file></aps-upload-file>
                                    <md-button class="md-raised" ng-click="uploadPhoto()" style="width:210px;">Change Profile Picture</md-button>
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                    <label>First Name</label>
                                    <input ng-model="LoggedUser.FirstName" type="text">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                    <label>Last Name</label>
                                    <input ng-model="LoggedUser.LastName" type="text">
                                </md-input-container>
                            </div>
                            <md-input-container class="md-icon-float md-block">
                                <label>Phone Number</label>
                                <input ng-model="LoggedUser.PhoneNumber" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Email</label>
                                <input ng-model="LoggedUser.Email" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>User Name</label>
                                <input ng-model="LoggedUser.UserName" type="text">
                            </md-input-container>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                    <label>Password</label>
                                    <input ng-model="LoggedUser.Password" type="password">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                    <label>Re-enter your Password</label>
                                    <input ng-model="LoggedUser.Password" type="password">
                                </md-input-container>
                            </div>
                            <md-button class="md-raised" ng-click="save()">Save Changes</md-button>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>