<div class="container" style="padding-top: 30px;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="Content/Images/post02.jpg" class="avatar img-circle img-thumbnail" alt="avatar" id="Photo" width="100" height="100">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info" width="80%">
            <form class="form-vertical" role="form" ng-submit="save()">
                    <div class="form-group" style="padding-bottom: 5px;">
                        <h3>Personal info</h3>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">First name:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="FirstName" value="{{User.FirstName}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Last name:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="LastName" value="{{User.LastName}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Phone Number:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="PhoneNumber" value="{{User.PhoneNumber}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Email:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="Email" value="" type="{{User.Email}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Username:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="UserName" value="{{User.UserName}}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Password:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="PassWord1" value="{{User.Password}}" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" style="padding-top: 5px;">Confirm password:</label>
                        <div class="col-lg-8" style="padding-top: 5px;">
                            <input class="form-control" id="PassWord2" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8" style="padding-top: 5px;padding-bottom:5px;">
                            <input class="btn btn-primary" value="Save Changes" type="submit">
                        </div>
                    </div>
</form>
        </div>
    </div>
</div>
