<md-content>
    <form ng-submit="test()" id="projectform">
        <div id="headerwrap">
            <div class="container">
                <h2>
                    <md-input-container style="margin-bottom:0px; padding-bottom:0px;">
                        <label>Title</label>
                        <input required="" ng-model="project.title">
                    </md-input-container>
                </h2>
            </div>
        </div>
        <div id="main-content">
            <div class="container mt">

                <md-input-container class="md-block">
                    <label>Short Description</label>
                    <textarea required="" name="shortDesc" ng-model="project.shortDescription" md-maxlength="150" rows="4"></textarea>
                </md-input-container>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Category</label>
                        <md-select ng-model="project.category">
                            <md-option ng-repeat="category in Categories" value="{{category.Id}}" ng-selected="selectedCat">
                                {{category.Title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Goal</label>
                        <input required="" ng-model="project.goal" type="number" step="100">
                        <md-icon md-font-icon="fa fa-eur fa-2x" style="color:gray" />
                    </md-input-container>

                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Video Url</label>
                        <input ng-model="project.video">
                    </md-input-container>
                    <!--<input id="fileInput" type="file" class="ng-hide">
                    <md-input-container class="md-block">
                        <md-button id="uploadButton"
                                   class=""
                                   aria-label="attach_file"
                                   style="top:-9px">
                            <span style="color:gray">Choose Main Image</span>
                        </md-button>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block" flex-gt-sm="">
                        <input id="textInput" ng-model="fileName" type="text" placeholder="No file chosen" ng-readonly="true">
                    </md-input-container>-->
                    <md-input-container>
                        <label>Due Date</label>
                        <md-datepicker ng-model="project.dueDate"></md-datepicker>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea required="" name="shortDesc" ng-model="project.description" md-maxlength="600" rows="6"></textarea>
                </md-input-container>
                <!--<button type="submit" class="btn btn-theme" style="width:210px;">Save Changes</button>-->
                <md-button type="submit" class="md-raised">Save Changes</md-button>
            </div>

        </div>

        <!--<md-button type="submit" id="submit" value="Submit Payment" aria-label="" />-->
    </form>
</md-content>
