<div id="main-content" style="margin:0; padding:0;">
    <div class="container mt">
        <md-content class="transparent">
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Details">
                    <md-content class="md-padding transparent">
                        <form ng-submit="saveProject()" id="projectform">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Title</label>
                                <input required="" ng-model="project.Title">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Short Description</label>
                                <textarea required="" name="shortDesc" ng-model="project.ShortDescription" md-maxlength="150" rows="4"></textarea>
                            </md-input-container>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Category</label>
                                    <md-select ng-model="project.CategoryFK">
                                        <md-option ng-repeat="category in Categories" value="{{category.Id}}" ng-selected="selectedCat">
                                            {{category.Title}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>State</label>
                                    <md-select ng-model="project.StateFK">
                                        <md-option ng-repeat="state in States" value="{{state.Id}}" ng-selected="selectedState">
                                            {{state.Title}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Goal</label>
                                    <input required="" ng-model="project.Goal" type="number" step="100">
                                    <md-icon md-font-icon="fa fa-eur fa-2x" style="color:gray" />
                                </md-input-container>

                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Video Url</label>
                                    <input ng-model="project.Video">
                                </md-input-container>
                                <md-input-container>
                                    <label>Due Date</label>
                                    <md-datepicker ng-model="project.DueDate"></md-datepicker>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea required="" name="shortDesc" ng-model="project.Description" md-maxlength="600" rows="6"></textarea>
                            </md-input-container>
                            <md-button type="submit" class="md-raised" style="width:210px;">Save Changes</md-button>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Images" ng-disabled="!(project.Id != undefined)">
                    <md-content class="md-padding transparent">
                        <aps-upload-file></aps-upload-file>
                        <md-button class="md-raised" ng-click="uploadPhoto()" style="width:210px;">Upload</md-button>
                        <md-list flex="">
                            <md-subheader class="md-no-sticky">Project Photos</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="photo in Photos" ng-click="null">
                                <img data-ng-src="data:image/jpeg;base64,{{photo.Photo}}" style="width:533px; height:300px;" />
                                <div class="md-list-item-text" layout="column">
                                    <div style="margin:0 auto; width:220px;">
                                        <md-button class="md-raised" ng-click="deletePhoto(photo.Id)" style="width:210px;">Delete</md-button>
                                        <md-button class="md-raised" ng-click="makeDefault(photo.Id)" style="width:210px;">Set as Main</md-button>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Packages" ng-disabled="!(project.Id != undefined)">
                    <md-content class="md-padding transparent">
                        <div ng-repeat="package in Packages">
                            <md-card style="width:530px; float:left; height:405px;  background-color:#eaf0ff" class="transform">
                                <md-card-content style="padding:30px 40px 20px 40px;">
                                    <p>
                                        <md-icon md-font-icon="fa fa-euro fa-2x" style="color:#4980ff;" /><span style="font-size:25px; position:relative;  top:3px; color:#4980ff">{{package.Amount}} or more</span>
                                    </p>
                                    <p style="margin-top:45px">
                                        <h2>{{package.Title}}</h2>
                                    </p>
                                    <p style="margin-top:45px; color:rgba(0,0,0,0.7)">
                                        {{package.Rewards}}
                                    </p>
                                        <!--<md-button type="submit" class="md-raised md-primary" style="width:210px;">Save Card</md-button>-->
                                        <!--</form>-->
                                </md-card-content>
                            </md-card>
                        </div>
                        <md-card style="width:530px; float:left; height:405px">
                            <md-card-content>
                                <form ng-submit="saveCard()" id="projectform">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Ammount or more</label>
                                        <md-icon md-font-icon="fa fa-euro fa-2x" style="color:gray;" />
                                        <input required="" ng-model="card.Amount" type="number">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Title</label>
                                        <input required="" ng-model="card.Title">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Rewards</label>
                                        <textarea required="" name="shortDesc" ng-model="card.Rewards" md-maxlength="250" rows="4"></textarea>
                                    </md-input-container>
                                    <md-button type="submit" class="md-raised" style="width:97%">Save New Card</md-button>
                                </form>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-content>
    </div>

</div>
