<div id="headerwrap">
    <div class="container">
        <h2>{{Project.Title}}</h2>
    </div>
</div>
<div id="main-content">
    <div class="container mt">
        <div class="row">
            
            <carousel3d ng-model="Photos"
                        options="carouselOptions">
                <md-progress-circular id="progressCircle" class="md-hue-2" md-diameter="70" style="margin:0 auto; top:150px"></md-progress-circular>                    
                <carousel3d-slide ng-repeat="photo in Photos track by $index" style="outline:none!important">
                    <figure>
                        <iframe ng-src="{{videoUrl}}" ng-show="photo.Video"></iframe>
                        <img data-ng-src="data:image/jpeg;base64,{{photo.Photo}}" ng-show="!photo.Video" />                        
                    </figure>                   
                </carousel3d-slide>

            </carousel3d>
            <!--<div carousel3d ng-model="Photos">
                <div carousel3d-slide ng-repeat="image in Photos track by $index">
                    <figure>
                        <img ng-src="data:image/jpeg;base64,{{image.Photo}}" />
                        <figcaption ng-bind="image.caption"></figcaption>
                    </figure>
                </div>
            </div>-->
            <!--<div class="col-lg-8 centered">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item img-responsive active">
                            <iframe ng-src="{{videoUrl}}"></iframe>
                        </div>
                        <div class="item img-responsive">
                            <img src="Content/Images/post02.jpg" alt="">
                        </div>
                        <div class="item img-responsive">
                            <img src="Content/Images/post03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>-->            
            <div class="col-lg-8 spacing">
                <div ng-cloak>
                    <md-content class="transparent">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Description">
                                <md-content class="md-padding transparent">
                                    <div ng-bind-html="MytrustedHtml"></div>
                                    <!--<p>{{Project.Description}}</p>-->
                                </md-content>
                            </md-tab>
                            <md-tab label="Updates">
                                <div ng-repeat="update in Updates">
                                    <md-content class="md-padding transparent">
                                        <p>{{update.Date | date:'dd/MM/yyyy - h:mma'}}:</p>
                                        <p style="padding-left: 2em;">{{update.Message}}</p>
                                    </md-content>
                                </div>
                            </md-tab>
                            <md-tab label="Comments">
                                <md-content class="md-padding transparent">
                                    <div id="disqus_thread" value="{{Project.Id}}"></div>
                                    <script>
                                        /**
                                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                        var disqus_config = function () {
                                            this.page.url = "http://localhost:52298/#/Home/Project/" + document.getElementById("disqus_thread").getAttribute("value");  // Replace PAGE_URL with your page's canonical URL variable
                                            this.page.identifier = document.getElementById("disqus_thread").getAttribute("value"); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                            //alert(this.page.identifier);
                                        };

                                        (function () { // DON'T EDIT BELOW THIS LINE
                                            var d = document, s = d.createElement('script');
                                            s.src = 'http://crowdfundingviva1.disqus.com/embed.js';
                                            s.setAttribute('data-timestamp', +new Date());
                                            (d.head || d.body).appendChild(s);
                                        })();
                                    </script>
                                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="col-lg-4 spacing">
                <div ng-cloak>
                    <md-content class="transparent">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Details">
                                <md-content class="md-padding transparent">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Gathered</label>
                                        <input ng-model="Project.Gathered" type="number" step="100" disabled>
                                        <md-icon md-font-icon="fa fa-eur fa-2x" style="color:gray" />
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Goal</label>
                                        <input ng-model="Project.Goal" type="number" step="100" disabled>
                                        <md-icon md-font-icon="fa fa-eur fa-2x" style="color:gray" />
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Created</label>
                                        <md-datepicker ng-model="Project.CreatedDate" disabled></md-datepicker>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Last Updated</label>
                                        <md-datepicker ng-model="Project.UpdatedDate" disabled></md-datepicker>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Ends</label>
                                        <md-datepicker ng-model="Project.DueDate" disabled></md-datepicker>
                                    </md-input-container>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
                <md-button class="md-raised" ng-click="goToState(Project.Id)">Back It!</md-button>
        <!--<h4>Project Details</h4>
        <div class="hline"></div>
        <p><b>Added on:</b> {{Project.CreatedDate}}</p>
        <p><b>Last Updated:</b> {{Project.UpdatedDate}}</p>
        <p><b>Ends:</b> {{Project.DueDate}}</p>
        <p><b>Category:</b> {{Project.CategoryName}}</p>
        <p><b>Creator:</b> VivaTeam1</p>
        <p><b>Website:</b> {{Project.Website}}</p>
        <p><b>Backers:</b> {{Project.Backers}}</p>
        <p><b>Goal (Minimum):</b> {{Project.Goal}} ({{Project.GoalMin}})</p>
        <p><b>Gathered:</b> {{Project.Gathered}}</p>
            -->
        <!--<button class="btn btn-theme" ng-click="backIt()" style="width:210px;">Back It!!</button>-->
    </div>
           
        </div>
    </div>
</div>