<div id="main-content">
    <div class="container md-padding" layout="row" layout-align="center" layout-wrap>
        <md-card ng-repeat='row in Projects' style="width: 350px;">
            <img ng-src="Content/Images/post03.jpg" class="md-card-image" alt="image caption">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{row.Title}}</span>
                    <span class="md-subhead">{{row.CategoryName}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{row.ShortDescription}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
                <md-progress-linear md-mode="determinate" value="{{row.Progress > 100 ? 100 : row.Progress}}"></md-progress-linear>
            </md-card-actions>
            <md-card-actions layout="row" layout-align="start center">
                <div class="col-sm-4 col-xs-4">
                    <h6 class="card-subtitle text-muted ng-binding">Funded</h6>
                    {{row.Progress}}%
                </div>
                <div class="col-sm-4 col-xs-4">
                    <h6 class="card-subtitle text-muted ng-binding">Gathered</h6>
                    <span><i class="fa fa-eur" aria-hidden="true" /> {{row.Amount_Gathered}}</span>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <h6 class="card-subtitle text-muted ng-binding">Backers</h6>
                    <span><i class="fa fa-users" aria-hidden="true" /> {{row.Backers}}</span>
                </div>
            </md-card-actions>
            <md-card-actions layout="row" layout-align="center">
                <md-button ui-sref="Home.Project({ Id: {{row.Id}} })" class="md-raised md-primary">Go to Project Page</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="row">
        <ul class="pagination">
            <li ng-repeat="n in index"><a ui-sref="" ng-click="reload(n)">{{n}}</a></li>
        </ul>
    </div>
</div>