<div id="headerwrap">
    <div class="container">
        <div style="font-size:30px; color:white">
            
                Browse <!--<span style="border-bottom: 1px solid white; padding:0px 0px 3px 0px; margin-left:10px;">{{browseTitle}}</span>-->
                <md-input-container style="top:-2px; font-size:30px">
                    <md-select ng-model="selectedCategory" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                        </md-select-header>
                        <!--<md-optgroup label="vegetables">-->
                        <md-option ng-value="category.Id" ng-click="categorySelected(category.Id)" ng-repeat="category in BrowseCategories |
              filter:searchTerm">{{category.Title}}</md-option>
                        <!--</md-optgroup>-->
                    </md-select>
                </md-input-container>
            <form id="keyForm" ng-submit="titleSearch()" style="padding:0; margin:0;" ng-show="shown">
                with keyword
                <md-input-container flex-gt-sm="">
                    <input ng-model="keyword">
                </md-input-container>
            </form>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="container md-padding" layout="row" layout-align="center" layout-wrap>
        <div ng-repeat="row in Projects" class="test">
            <md-card style="width: 350px; height:500px; background-color:#f9fafc;" class="transform-nopointer">
                <div id="progressCircle{{row.Id}}" style="height:197px">
                    <md-progress-circular class="md-hue-2" md-diameter="70" style="margin:0 auto; top:50px"></md-progress-circular>
                </div>
                <img data-ng-src="data:image/jpeg;base64,{{row.MainPhoto}}" alt="" class="md-card-image" ng-click="goToState(row.Id)" style="outline:none!important" />
                <md-card-content>
                    <div style="height:250px">
                        <p><span class="md-headline">{{row.Title}}</span></p>
                        <p>
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="addToFavorites(row.Id)" style="outline:none!important">
                                <md-icon md-font-icon="fa fa-heart" style="color:gray" />
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Settings" style="outline:none!important">
                                <md-icon md-font-icon="fa fa-share" style="color:gray" />
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share" ng-click="goToState(row.Id)" style="outline:none!important">
                                <md-icon md-font-icon="fa fa-search" style="color:gray" />
                            </md-button>
                        </p>
                        <p>{{row.ShortDescription}}</p>                        
                    </div>
                    <p><md-progress-linear md-mode="determinate" value="{{row.progress}}"></md-progress-linear></p>
                    <span style="font-weight:bold;  margin-right:3px">{{row.progress}}% </span> funded <div style="float:right"><span style="font-weight:bold; margin-left:15px; margin-right:3px">&euro;{{row.Gathered}} </span> gathered</div>
                </md-card-content>
            </md-card>
        </div>
        <md-button md-no-ink class="md-primary" ng-click="reload()" ng-show="page<3 && Projects.length>5">Load more</md-button>
    </div>
</div>