html, body {
    height: 100%;
    background-color: azure;
}

#contentUI {
    padding: 70px 0 256px 0;
    min-height: 100%;
}

#main-content {
    margin: 30px 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #01b2fe;
}

.centered {
    text-align: center;
}

.form-horizontal > .form-group {
    width: 300px;
    min-height: 40px;
    margin: 4px auto 2px;
}

.form-horizontal > .form-group > .btn,
.form-horizontal > .form-group > input {
    width: 100%;
    min-height: 40px;
    margin: 0px;
}

.form-horizontal > .form-group > .btn {
    margin-top: 30px;
} 

.form-horizontal > .form-loading > p {
    margin-top:20px;
    color:red;
}

.form-horizontal > .form-loading > p > img {
    height:50px;
    width:50px;
}

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
    transition: background-color .4s linear, color .4s linear;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #00b3fe;
    border-color: #00b3fe;
}

.validator {
    border-color: red;
}

/* Navigation Bar Style*/
.navbar {
    padding-top: 10px;
    height: 70px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 13px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
    text-align: center;
}

/* Header */
#headerwrap {
    background-color: #00b3fe;
    text-align: center;
}

#headerwrap h3, h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    font-size:26px;
    font-weight:100;
    color: white;
    margin-bottom: 25px;
}

/* Footer */
#footerwrap {
    margin-top: -256px;
    padding: 40px 0;
    background: #384452;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}
.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    max-height: 400px;
    min-height: 400px;
}
.card-block {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    max-width:100%
}
#blue {
    background: #00b3fe;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
#blueh {
    color:#fff;
}
.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}