@import url(http://fonts.googleapis.com/css?family=Raleway:400,550,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:200,400,600,900);

html, body {
    height: 100%;
    background-color: azure;
    font-family: 'Lato', sans-serif;    
}
/*html {
    overflow-y:scroll;
}*/
/*body{
    overflow-y: hidden!important;
}*/
body.md-toast-animating { overflow: auto!important; }
/*Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0);
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.3);
	-webkit-border-radius: 6px;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background: rgba(0,0,0,.6);;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
    border-radius: 6px;
}
md-toast {
    z-index:10000!important;
    position:fixed!important;
}
.md-toast-content {
    background-color: green!important;
}
.failure .md-toast-content {
    background-color: maroon!important;
}
.transform {
    transition:0.5s;  
}
.transform:hover {
}

#contentUI {
    padding: 70px 0 246px 0;
    min-height: 100%;
}

#main-content {
    margin: 30px 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #01b2fe;
    }

h4 {
    margin-top: 0;
}

.centered {
    text-align: center;
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-horizontal > .form-group {
    width: 350px;
    min-height: 40px;
    margin: 4px auto 2px;
}

    .form-horizontal > .form-group > .btn,
    .form-horizontal > .form-group > md-input-container {
        width: 100%;
        min-height: 40px;
        margin: 0 0 10px 0;
    }

    .form-horizontal > .form-group > .btn {
        margin-top: 30px;
    }

.form-horizontal > .form-loading > p {
    margin-top: 20px;
    color: red;
}

    .form-horizontal > .form-loading > p > img {
        height: 50px;
        width: 50px;
    }

.btn-theme {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
    transition: background-color .4s linear, color .4s linear;
}

    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme {
        color: #fff;
        background-color: #00b3fe;
        border-color: #00b3fe;
    }

.progress {
    height: 15px;
}

.progress-bar-theme {
    background: #00b3fe;
    background: -webkit-linear-gradient(top, #00b3fe 0%, #0073be 100%);
    background: linear-gradient(to bottom, #00b3fe 0%, #0073be 100%);
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

    .tabsdemoDynamicHeight md-content md-tabs {
        background: #f6f6f6;
        border: 1px solid #e1e1e1;
    }

        .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
            background: white;
        }

    .tabsdemoDynamicHeight md-content h1:first-child {
        margin-top: 0;
    }

.hline {
    border-bottom: 2px solid #384452;
}

.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}

.validator {
    border-color: red;
}

/* Navigation Bar Style*/
.navbar {
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    min-height: 70px;
    margin-bottom: 0px;
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    border: 2px solid;
}

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

.navbar-brand {
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 600;
    font-size: 14px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #00b3fe;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
    text-align: center;
}

    .navbar-default .navbar-nav > li > a > i {
        visibility: hidden;
    }

    .navbar-default .navbar-nav > li > a:hover > i,
    .navbar-default .navbar-nav > .active > a > i,
    .navbar-default .navbar-nav > .active > a:hover > i,
    .navbar-default .navbar-nav > .active > a:focus > i {
        visibility: visible;
    }

/* Header */
#headerwrap {
    background-color: #00b3fe;
    font-family: 'Raleway', sans-serif;
}

    #headerwrap h1 {
        text-align: center;
        font-size: 26px;
        font-weight: 100;
        color: white;
        margin-bottom: 25px;
    }

    #headerwrap h2 {
        font-size: 26px;
        font-weight: 100;
        color: white;
        margin-bottom: 25px;
    }

    #headerwrap h3, h5 {
        color: white;
        font-weight: 400;
    }
/* Footer */
#footerwrap {
    margin-top: -246px;
    padding: 40px 0;
    background: #384452;
}

    #footerwrap p {
        color: #bfc9d3;
    }

    #footerwrap h4 {
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    #footerwrap i {
        font-size: 30px;
        color: #bfc9d3;
        padding-right: 25px;
    }

        #footerwrap i:hover {
            color: #00b3fe;
        }

/* Cards */
.card {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.card-block {
    padding: 1.25rem;
    height: 150px;
    overflow: hidden;
}

    .card-block::after {
        content: "";
        display: table;
        clear: both;
    }

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text {
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    max-width: 100%;
}

.card-bot {
    padding: 0.75rem 1.25rem;
    text-align: center;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-bot::after,
    .card-footer::after {
        content: "";
        display: table;
        clear: both;
    }

    .card-bot:last-child,
    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

/* Carousel */

.carousel > .carousel-inner > .item {
    width: 100%;
    height: 352px;
}

    .carousel > .carousel-inner > .item > img,
    .carousel > .carousel-inner > .item > iframe {
        width: 100%;
        height: 100%;
    }

/* Media Queries */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

    .pagination li:hover {
        cursor: pointer;
    }

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background:  url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
    color:#333;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
