<form ng-submit="test()" action="#" id="payment-form">
    <div class="form-row">
        <label>
            <span>Cardholder Name</span>
            <input type="text" size="20" name="txtCardHolder" autocomplete="off" data-vp="cardholder" />
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Card Number</span>
            <input type="text" size="20" name="txtCardNumber" autocomplete="off" data-vp="cardnumber" />
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>CVV</span>
            <input type="text" name="txtCVV" size="4" autocomplete="off" data-vp="cvv" />
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Expiration (MM/YYYY)</span>
            <input type="text" size="2" name="txtMonth" autocomplete="off" data-vp="month" />
        </label>
        <span> / </span>
        <input type="text" size="4" name="txtYear" autocomplete="off" data-vp="year" />
    </div>

    <div class="form-row">
        <label>
            <span>Installments</span>
            <select id="drpInstallments" name="drpInstallments" style="display:none"></select>
        </label>
    </div>

    <input type="hidden" name="OrderId" value="146228" /> <!--Custom Field-->
    <input type="hidden" id="hidToken" name="hidToken" ng-model="hidToken" /> <!--Hidden Field to hold the Generated Token-->
    <input type="submit" id="submit" value="Submit Payment" />
    <input type="button" id="submit" value="Submit" onclick="VivaPayments.cards.requestToken();" />
</form>