<div class="panel-heading" style="margin:0; border-radius:0!important">Credit Card Credentials</div>
<form onsubmit="VivaPayments.cards.requestToken();" id="payment-form" style="padding:40px 20px 20px 20px">
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Cardholder Name</label>
            <input required md-no-asterisk name="txtCardHolder" autocomplete="off" data-vp="cardholder">
        </md-input-container>
        <md-input-container  style="width:80px">
            <label>MM</label>
            <input required md-no-asterisk name="txtMonth" autocomplete="off" data-vp="month">
        </md-input-container>
        <md-input-container  style="width:100px">
            <label>YYYY</label>
            <input required md-no-asterisk name="txtYear" autocomplete="off" data-vp="year">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Card Number</label>
            <input required md-no-asterisk name="txtCardNumber" autocomplete="off" data-vp="cardnumber">
        </md-input-container>
        <md-input-container style="width:100px">
            <label>CVV</label>
            <input required md-no-asterisk type="password" name="txtCVV" autocomplete="off" data-vp="cvv">
        </md-input-container>
    </div>
    <input type="hidden" name="OrderId" value="146228" /> <!--Custom Field-->
    <input type="hidden" id="hidToken" name="hidToken" ng-model="hidToken" /> <!--Hidden Field to hold the Generated Token-->
    <md-button type="submit" class="md-raised" style="width:95%">Submit</md-button>
</form>