<div id="headerwrap">
    <div class="container">
        <h1>Welcome Back</h1>
    </div>
</div>
<div id="main-content" class="centered">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address" ng-model="user.username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
            </div>
            <div class="form-text">
                <a ui-sref="Home.Register">Forgot password</a>
            </div>
            <div class="form-group">
                <button class="btn btn-theme" ng-click="login()">Log in</button>
            </div>
            <div class="form-text">
                <a ui-sref="Home.Register">Don't have an account</a>
            </div>
            <div class="form-loading">
                <p ng-show="loading"><img src="../../../Content/Images/spin.gif" /></p>
                <p id="resultTxt" ></p>
            </div>
        </form>
    </div>
</div>