<div style="width:100%; text-align:center;">
    <div style="font-size:26px; font-weight:100">Welcome Back</div>
    <p style="margin:4px 0px 2px 0px">
        <input type="text" class="form-control" style="width:280px; height:40px; margin:0 auto;" placeholder="Email Address" />
    </p>
    <p style="margin:0px 0px 30px 0px">
        <input type="password" class="form-control" style="width:280px; height:40px; margin:0 auto;" placeholder="Password" />
    </p>
    <p>
        <button class="btn btn-primary" ng-click="login()" style="width:280px; height:40px">Log in</button>
    </p>
    <a href="">Don't have an account</a>   
</div>
