<div id="headerwrap">
    <div class="container">
        <h1>Welcome Back</h1>
    </div>
</div>
<div id="main-content">
    <div class="container">
        <form ng-submit="login()">
            <div class="form-horizontal">
                <div class="form-group">
                    <md-input-container>
                        <label>Email</label>
                        <input required md-no-asterisk ng-model="user.username" type="email">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input required md-no-asterisk ng-model="user.password" type="password">
                    </md-input-container>
                </div>
                <div class="form-text centered">
                    <a ui-sref="Home.Register">Forgot password</a>
                </div>
                <div class="form-group">
                    <md-button type="submit" class="md-raised md-primary" style="width:100%;">Log in</md-button>
                    <!--<button class="btn btn-theme" ng-click="login()">Log in</button>-->
                </div>
                <div class="form-text centered">
                    <a ui-sref="Home.Register">Don't have an account</a>
                </div>
                <div class="form-loading centered">
                    <md-progress-circular id="progressCircle" class="md-hue-2" md-diameter="50" ng-show="loading" style="margin:0 auto; top:50px"></md-progress-circular>
                    <p id="resultTxt"></p>
                </div>
            </div>
        </form>
    </div>
</div>