<div id="headerwrap">
    <div class="container">
        <h1>Sign Up</h1>
    </div>
</div>
<div id="main-content" class="centered">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <input id="firstNameTxt" type="text" class="form-control" placeholder="First name" ng-model="user.firstname" />
            </div>
            <div class="form-group">
                <input id="lastNameTxt" type="text" class="form-control" placeholder="Last name" ng-model="user.lastname" />
            </div>
            <div class="form-group">
                <input id="userNameTxt" type="text" class="form-control" placeholder="Email" ng-model="user.username" />
            </div>
            <div class="form-group">
                <input id="userNameChkTxt" type="text" class="form-control" placeholder="Re-enter email" ng-model="user.usernameChk" />
            </div>
            <div class="form-group">
                <input id="passwordTxt" type="password" class="form-control" placeholder="Password" ng-model="user.password" />
            </div>
            <div class="form-group">
                <input id="passwordChkTxt" type="password" class="form-control" placeholder="Re-enter password" ng-model="user.passwordChk" />
            </div>
            <div class="form-group">
                <button class="btn btn-theme" ng-click="singUp(true)">Sign me up!</button>
            </div>
            <div class="form-txt">
                <a ui-sref="Home.Login">Already have an account</a>
            </div>
            <div class="form-loading">
                <p ng-show="loading"><img src="../../../Content/Images/spin.gif" /></p>
                <p id="resultTxt"></p>
            </div>
        </form>
    </div>
</div>
