<div id="headerwrap">
    <div class="container">
        <h1>Sign Up</h1>
    </div>
</div>
<div id="main-content">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="user.firstname">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="user.lastname">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.username" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Re-enter your email</label>
                    <input ng-model="user.usernameChk" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" type="password">
                </md-input-container>
                <md-input-container>
                    <label>Re-enter your password</label>
                    <input ng-model="user.passwordChk" type="password">
                </md-input-container>
            </div>
            <div class="form-group">
                <button class="btn btn-theme" ng-click="singUp(true)">Sign me up!</button>
            </div>
            <div class="form-txt centered">
                <a ui-sref="Home.Login">Already have an account</a>
            </div>
            <div class="form-loading centered">
                <p ng-show="loading"><img src="../../../Content/Images/spin.gif" /></p>
                <p id="resultTxt"></p>
            </div>
        </form>
    </div>
</div>
